<!DOCTYPE html>
<html>
    <head>
        {% load static %}
            <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header style="background-color: rgb(76, 182, 220); padding: 10px 0; text-align: center;">
           <h1 style="display: inline-block; background-color: rgb(76, 182, 220); color: black; padding: 6px 16px; border: 4px solid #2f4761; border-radius: 10px; font-size: 1.8rem; font-family: Arial;">
               Επιλογή Προγράμματος
           </h1>
        </header>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="dropdown">
        <div id="myDropdown" class="dropdown-content" style="display: block; max-width: 220px; margin: 0 auto;">


                <br>
                <h3 style="text-align: center;">Δευτέρα</h3>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Flexibility 10:00 - 11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strenght 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Swimming 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 20:00-21:00
                </label>



                <br>
                <br>
                <h3 style="text-align: center;">Τρίτη</h3>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 12:00-13:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Boxing 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 21:00-22:00
                </label>



                <br>
                <br>
                <h3 style="text-align: center;">Τετάρτη</h3>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Total Body 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Swimming 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Flexibility 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 20:00-21:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Total Body 21:00-22:00
                </label>


                <br>
                <br>
                <h3 style="text-align: center;">Πέμπτη</h3>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 12:00-13:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Boxing 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 21:00-22:00
                </label>


                <br>
                <br>
                <h3 style="text-align: center;">Παρασκευή</h3>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Flexibility 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Swimming 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 20:00-21:00
                </label>


                <br>
                <br>
                <h3 style="text-align: center;">Σάββατο</h3>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 12:00-13:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Total Body 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Boxing 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 20:00-21:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 21:00-22:00
                </label>
                <br>
                <br>
                <br>
                <br>
                <div id="selectedCountLabel" style="font-weight: bold; display: block; margin-bottom: 10px;"></div>

                <div id="confirmationMessage" style="
                 display: none;
                 margin-top: 20px;
                 padding: 15px;
                 background-color: #d0f0d6;
                 color: #1a4d2e;
                 border: 2px solid #66bb6a;
                 border-radius: 8px;
                 font-weight: bold;
                 text-align: center;
                 ">
                 Σας περιμένουμε στο γυμναστήριό μας!
                </div>

                <button
                   id="mySubmit"
                   type="button"
                   style="font-size: medium; background-color: rgb(76, 182, 220); border-radius: 7px; margin-top: 20px;">
                   submit
                </button>


                <br>
                <br>
               





            </div>




            
           




        </div>
        <script>
            function toggleDropdown()
            {
                var dropdown=document.getElementById("myDropdown");
                if (dropdown.style.display="none"){
                    dropdown.style.display="block";
                }
                else{
                    dropdown.style.display="none";
                }
            }
            function countSelectedCheckboxes(){
                var checkboxes=document.querySelectorAll('#myDropdown input[type="checkbox"]');
                var count=0;
                checkboxes.forEach(function(checkbox){
                    if(checkbox.checked){
                        count++;
                    }

                });
                var selectedCountLabel=document.getElementById("selectedCountLabel");

                selectedCountLabel.innerHTML = `Έχετε επιλέξει <span style="text-decoration: underline;">${count}</span> προγράμματα`;


                if(count==0){
                    selectedCountLabel.classList.add("hidden");
                }
                else{
                    selectedCountLabel.classList.remove("hidden");
                }


            }
        </script>
       

         <script>
            document.addEventListener("DOMContentLoaded", function () {
               const submitBtn = document.getElementById("mySubmit");
               const message = document.getElementById("confirmationMessage");

               if (submitBtn && message) {
                 submitBtn.addEventListener("click", function () {
                    message.style.display = "block";
                 });
                } else {
                  console.log("Κάποιο ID δεν βρέθηκε στο DOM.");
                }
              });
         </script>


    </body>

</html>
