<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
            <link rel="stylesheet" href="{% static 'styles.css' %}">

        <title>Lifting and Coding</title>
    </head>
    <body>
        <header>
            <h1>Lifting and Coding</h1>
        </header>
         <section class="banner"> 
            <img src="{% static 'images/dok.jpg' %}" />
            <!--<div class="welcome">
                <h2>Το γυμναστήριο έτσι όπως το φαντάζεστε</h2>S
            </div>-->
        </section> 
        <nav class="main-nav">
            <ul>
                <li><a href="{% url 'filosofia' %}">Ποιοι Είμαστε</a></li>
                <li><a href="{% url 'Πρόγραμμα' %}">Προγράμματα</a></li>
                <li><a href="{% url 'Προπονητές' %}">Προπονητές</a></li>
                <li><a href="{% url 'contact' %}">Επικοινωνία</a></li>
                <li><a href="{% url 'login' %}">Σύνδεση</a></li>
            </ul>
        </nav>
        <main>
            <article>
                <h2>Το γυμναστήριο έτσι όπως το φαντάζεστε</h2>
                <p>Lifting and Coding σημαίνει εναλλακτική νέα ζωή. Σηματοδοτεί την μετάβαση σε μία άλλη κατάσταση, 
                    εκεί που ο πόνος, η αδυναμία, η έλλειψη αυτοπεποίθησης, οι περιορισμοί που σε κρατούν μακριά από τα όνειρά σου 
                    δεν υπάρχουν πια. Aλλάζεις φιλοσοφία, προτεραιότητες, στάση απέναντι στο σώμα & τον εαυτό σου, 
                    απέναντι στη ζωή!</p>
            </article>
            <ul class="images">
                <li><img src="{% static 'images/pilates.png' %}" alt="pilates" /></li>
                <li><img src="{% static 'images/swimming.jpg' %}" alt="swimming" /></li>
                <li><img src="{% static 'images/βαρη.png' %}" alt="βαρη" /></li>
                <li><img src="{% static 'images/crossfit.png' %}" alt="crossfit" /></li>
                <li><img src="{% static 'images/man.png' %}" alt="man" /></li>
            </ul>
        </main>
        <section class="Σύνδεσηη">
            <h2>Θέλεις να γίνεις μέλος της ομάδας μας;</h2>
            <h2>Εγγράψου πατώντας <a href="{% url 'signup' %}"> εδώ</a>!</h2>
        </section>
        <footer>
            <p class="copyright">copyright © 2025 lifting and coding</p>
        </footer>
    </body>
</html>
