<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
            <link rel="stylesheet" href="{% static 'profil.css' %}">
  <title>Προφίλ Μέλους</title>
</head>
<body>
  <header>
    <h2>Προφίλ Μέλους</h2>
  </header>

  <main class="profile-container">
    <div class="profile-card">
      <h3>Προσωπικά Στοιχεία</h3>
      <ul>
        <li><strong>Ονοματεπώνυμο:</strong> Μαρία Παπαδοπούλου</li>
        <li><strong>Ημερομηνία Εγγραφής:</strong> 12 Ιανουαρίου 2023</li>
        <li><strong>Τηλέφωνο:</strong> 6987654321</li>
        <li><strong>Email:</strong> maria.papado@gmail.com</li>
        <li><strong>Ημερομηνία Γέννησης:</strong> 5 Μαΐου 1990</li>
        <li><strong>Ενεργή Συνδρομή:</strong> Ναι (έως 12/05/2025)</li>
        <li><strong>Τύπος Συνδρομής:</strong> Ετήσια</li>
      </ul>
    </div>
  </main>

  <footer>
    <p class="copyright">copyright 2025 lifting and coding</p>
  </footer>
</body>
</html>
  <footer>
    <p class="copyright">copyright 2025 lifting and coding</p>
  </footer>
</body>
</html>
