<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  {% load static %}
            <link rel="stylesheet" href="{% static 'profil.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Προφίλ Μέλους</title>
</head>
<body>
  <header>
    <h1 style="
      border: 4px solid rgb(76, 73, 91);
      padding: 6px 6px;
      display: inline-block;
      border-radius: 10px;
      margin: 10px 0;
      ">
      Προφίλ Μέλους
    </h1>
  </header>

  <br>

  <main class="profile-container">
    <div class="profile-card">
      <h3>Προσωπικά Στοιχεία</h3>
      {% if member %}
        <ul>
          <li><strong>Ονοματεπώνυμο:</strong>
            {{ member.name }} {{ member.surname }}
          </li>
          <li><strong>Ημερομηνία Εγγραφής:</strong>
            {{ member.registration_date|date:"j F Y" }}
          </li>
          <li><strong>Τηλέφωνο:</strong>
            {{ member.phone_num }}
          </li>
          <li><strong>Email:</strong>
            {{ member.email }}
          </li>
      {% endif %}
      <ul>
        
      </ul>
    </div>
  </main>
 <footer style="background: rgb(76, 182, 220); color: white; padding: 8px; text-align: center; font-size: 0.9rem; font-family: Arial;">
       &copy; 2025 Lifting and Coding. All rights reserved.
 </footer>


</body>
</html>
