<!DOCTYPE html>
<html>
    <head>
        {% load static %}
            <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header> 
            <h1> Παρακαλούμε επιλέξτε πρόγραμμα </h1>
        </header>
        <br>
        <br>
        <br>
        <br>
        <label id="selectedCountLabel"> </label>
        <hr>
        <br>
        <div class="dropdown">
            <button onclick="toggleDropdown()"> Δήλωση προγράμματος</button>
            <br>
            <br>
            <div id="myDropdown" class="dropdown-content" style="display: none;">
                <br>
                <h4> Δευτέρα</h4>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Flexibility 10:00 - 11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strenght 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Swimming 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 20:00-21:00
                </label>



                <br>
                <br>
                <h4> Τρίτη</h4>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 12:00-13:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Boxing 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 21:00-22:00
                </label>



                <br>
                <br>
                <h4> Τετάρτη</h4>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Total Body 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Swimming 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Flexibility 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 20:00-21:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Total Body 21:00-22:00
                </label>


                <br>
                <br>
                <h4> Πέμπτη</h4>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 12:00-13:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Boxing 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 21:00-22:00
                </label>


                <br>
                <br>
                <h4> Παρασκευή</h4>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Flexibility 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Calisthenics 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Swimming 17:00-18:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Gymnastics 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Pilates 20:00-21:00
                </label>


                <br>
                <br>
                <h4> Σάββατο</h4>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 10:00-11:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 11:00-12:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 12:00-13:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Open Gym 13:00-14:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Total Body 18:00-19:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Boxing 19:00-20:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Fitness 20:00-21:00
                </label>
                <br>
                <br>
                <label>
                    <input type="checkbox" onchange="countSelectedCheckboxes()">
                    Strength 21:00-22:00
                </label>
                <br>
                <br>
                <br>
                <br>
                <button style=" font-size: medium; background-color: lightseagreen; border-radius: 7px;" type="submit" id="mySubmit"> submit </button>
                <br>
                <br>










            </div>
           




        </div>
        <script>
            function toggleDropdown()
            {
                var dropdown=document.getElementById("myDropdown");
                if (dropdown.style.display="none"){
                    dropdown.style.display="block";
                }
                else{
                    dropdown.style.display="none";
                }
            }
            function countSelectedCheckboxes(){
                var checkboxes=document.querySelectorAll('#myDropdown input[type="checkbox"]');
                var count=0;
                checkboxes.forEach(function(checkbox){
                    if(checkbox.checked){
                        count++;
                    }

                });
                var selectedCountLabel=document.getElementById("selectedCountLabel");

                selectedCountLabel.innerHTML="Έχετε επιλέξει τόσα προγράμματα : "+count;
                if(count==0){
                    selectedCountLabel.classList.add("hidden");
                }
                else{
                    selectedCountLabel.classList.remove("hidden");
                }


            }





        </script>
       




    </body>

</html>