<!DOCTYPE html>
<html>
    <head> 
        {% load static %}
            <link rel="stylesheet" href="{% static 'styles.css' %}">
        <h1> Ακολουθούν σύντομα βιογραφικά των προπονητών μας.</h1>
        <hr>
    </head>
    <body>
        <header>
            <h1> Προπονητές</h1>

        </header>
      <br>
      <ul>
        <li> <i> <b> Απόστολος Αλεξίου </b></i> </li>
        <ul>
            <li> <pre>
                - Εκπαιδευτής κολύμβησης, ABC Swimming School, 2014-2019
                - Καθοδήγησε ιδιωτικά και ομαδικά μαθήματα για κολυμβητές όλων των ηλικιών και ικανοτήτων
                - Βοηθούσε στη συντήρηση των εγκαταστάσεων της πισίνας, της εξισορρόπησης των χημικών ουσιών και των επισκευών του εξοπλισμού.
                - Πιστοποιημένος ναυαγοσώστης, ABC Pool, 2012-2014
                - Υπεύθυνος για την ασφάλεια και την παροχή πρώτων βοηθειών και καρδιοαναπνευστικής αναζωογόνησης όταν χρειάζεται </pre></li>
        </ul>
        <br>
        <hr>
        <br>
        <li> <i> <b> Κωνσταντίνα Γρηγορίου </b></i> </li>
        <ul>
            <li> <pre>
                – Πιστοποιημένη εκπαιδεύτρια Pilates Mat & Equipment έχει παρακολουθήσει πάνω από 150 ώρες σεμινάρια στην σχολή Natural Health Science και στην σχολή FLOW.
                – Διατέλεσε βοηθός καθηγητή στο δίπλωμα Pilates of Fitness & Aerobic το ακαδημαϊκό έτος 2019-2020.
                – Πιστοποιημένη εκπαιδεύτρια ΘΕΡΑΠΕΥΤΙΚΩΝ ΔΙΑΤΑΣΕΩΝ «Innovations in Pilates» (Mat Level I, Reformer Level I) 
                – Είναι πιστοποιημένη προπονήτρια BOSU Balance Trainer από τον Douglas Brooks USA
                – Αθλήτρια kick-boxing 
                – Κάτοχος Μαύρης Ζώνης στο Taekwondo.
                – 1η θέση διαγωνισμού taekwondo ΑΤΗΕΝS TAEKWONDO 2018.
            </pre>
            </li>
        </ul>
        <br>
        <hr>
        <br>
        <li> <i><b>Χρήστος Μαραγκός </b></i> </li>
        <ul>
            <li> <pre>
                - Fitness Instructor, Anytown Fitness Center, Anytown, NY - 2017 έως σήμερα
                - Ανέπτυξε και εφάρμοσε μαθήματα και προγράμματα γυμναστικής προσαρμοσμένα στις ανάγκες του κάθε πελάτη ξεχωριστά
                - Συνεργάστηκε άμεσα με τους πελάτες για την ανάπτυξη εξατομικευμένων σχεδίων και στόχων γυμναστικής
                - Παρακολουθούσε την πρόοδο των πελατών και παρείχε ανατροφοδότηση και υποστήριξη
                - Καθοδηγούσε τους πελάτες σχετικά με τη σωστή φόρμα και τεχνική για τη μεγιστοποίηση των αποτελεσμάτων και την ελαχιστοποίηση του κινδύνου τραυματισμού </pre> </li>
        </ul>
        <br>
        <hr>
        <br>
        <li> <i><b>Μαρία Δημητρακοπούλου </b></i> </li>
        <ul>
            <li> <pre>
                – Πιστοποιημένη Ειδικός Κινησιοθεραπείας – β. Φυσιοθεραπείας (ΙΕΚ ΑΚΜΗ)
                – Πιστοποιημένη Προπονήτρια από πολυάριθμες σχολές fitness 
                – Πιστοποιημένη Εκπαιδεύτρια Boxing 
                – Απόφοιτος Αθλητικού Λυκείου (2004)
                – Πιστοποιημένη προπονήτρια KETTLEBELL “FITNESS TRAINER A’ ” (Παγκόσμια Ομοσπονδία Girevoy Sport I.G.S.F.) 
                – Πιστοποιημένη προπονήτρια Aerobic 
                – Πιστοποιημένη στη μέθοδο ΣΠΟΝΔΥΛΟΘΕΡΑΠΕΙΑΣ / SPINEWORKS  
                 </pre> </li>
        </ul>
        <br>
        <hr>
        <br>
        <li> <i> <b>Βασίλης Σπυρόπουλος </b></i> </li>
        <ul>
            <li> <pre>
                – Απόφοιτος ΤΕΦΑΑ
                – Πιστοποιημένος ειδικός δύναμης και κατάστασης (CSCS)
                – Πιστοποιημένος Προσωπικός Εκπαιδευτής (CPT)
                – Πιστοποιημένος Προσωπικός Προπονητής (CPT)
                – Αναπτύσσει και εφαρμόζει εξατομικευμένα προγράμματα γυμναστικής και διατροφικών σχεδίων για τους πελάτες
                – Είναι σε θέση να εκπαιδεύσει και να παρακινήσει τους πελάτες να επιτύχουν τους στόχους τους σε επίπεδο φυσικής κατάστασης
                 </pre></li>
        </ul>

      </ul>
  </body>


</html>