<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Log In</title>
    </head>
    <body>
    <header>
        <h1>Log In</h1>
    </header>
    <section class="Σύνδεσηη">
        <h2>Συνδέσου στον λογαριασμό σου</h2>
        <p>Συνδέσου και κλείσε την επόμενη προπόνηση σου, ενημερώσου για τα νέα, δες το ιστορικό των προπονήσεων σου</p>
        <form>
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Submit">
        </form>
        <div class="links">
            <a href="ξεχασμενοςκωδικος.html">Ξέχασα τον κωδικό μου</a><br>
            <a href="εγγραφή.html">Εγγραφή</a>
        </div>
    </section>
    </body>
</html>

<!--{% extends 'base_layout.html' %}

{% block content %}
  <header>
    <h1>Log In</h1>
  </header>
  <section class="Σύνδεσηη">
    <h2>Συνδέσου στον λογαριασμό σου</h2>
    <p>Συνδέσου και κλείσε την επόμενη προπόνηση σου, ενημερώσου για τα νέα, δες το ιστορικό των προπονήσεων σου</p>
    <form method="post">
     {% csrf_token %}
     {{ form.as_p }}
     <input type="submit" value="Submit">
    </form>

    <div class="links">
     <a href="{% url 'password_reset' %}">Ξέχασα τον κωδικό μου</a><br>
     <a href="{% url 'signup' %}">Εγγραφή</a>
    </div>
  </section>
{% endblock %}-->





